@import url('https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
    --speed: 2;
}

* {
    user-select: none;
}

body {
    margin: 0;
    overflow: hidden;
    cursor: url('/assets/cursors/cursor.cur'), default;
}

#startscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.918);
    color: rgb(255, 255, 255);
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    z-index: 100;
}

#title {
    position: absolute;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-size: 80px;
}

#info {
    position: absolute;
    bottom: 2%;
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 40px;
}

#story-display.scene1 {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-size: 26px;
    color: white;
    padding: 15px;
    border-radius: 10px;
    max-width: 90%;
    min-width: 75%;
    text-align: center;
    z-index: 10;
    display: none;
}

#story-display.scene2 {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-size: 28px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    text-align: center;
    z-index: 10;
    display: none;
}

#background-container.show {
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    perspective: 1500px;
    overflow: hidden;
    z-index: 2;
    backdrop-filter: blur(10px);
}

#scene1 {
    background-image: url("/assets/room/room.jpg");
    background-repeat: repeat-x;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    border: none;
}

#particle-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.particle {
    position: absolute;
    background-color: #fff7e7cc;
    border-radius: 30%;
    animation: float 8s infinite ease-in-out;
    opacity: 0.7;
}

@keyframes float {

    0%,
    100% {
        transform: translate(0, 0);
        opacity: 0;
    }

    20%,
    80% {
        opacity: 1;
    }

    50% {
        transform: translate(var(--move-x), var(--move-y));
    }
}

.positioned-div {
    /*background-color: #ffffff;*/
    position: absolute;
    z-index: 1;
}

.positioned-div:hover {
    cursor: pointer;
}

#book {
    width: 4vw;
    height: 6vh;
    bottom: 9vh;
    left: 34vw;
}

#boat {
    width: 7vw;
    height: 20vh;
    bottom: 23vh;
    left: 59vw;
}

#exams {
    width: 7vw;
    height: 11vh;
    bottom: 14vh;
    left: 38vw;
}

#giftcard {
    width: 4vw;
    height: 9vh;
    bottom: 46vh;
    left: 34vw;
}

#scene2 {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 9s linear;
    pointer-events: none;
    z-index: 3;
}

#player {
    position: absolute;
    bottom: 25vh;
    left: 41vw;
    width: 310px;
    height: 187px;
    background-image: url("/assets/ocean/boat.png");
    background-repeat: no-repeat;
    background-size: 310px;
    z-index: 15;
}

#ocean_prlx {
    background-image: url("/assets/ocean/ocean_sky.png") !important;
    background-position: center;
    background-size: cover;
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#infoText {
    position: fixed;
    top: 10%;
    left: 33vw;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-size: 40px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    text-align: center;
    z-index: 10;
}

.layers {
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 270vh;
    height: 100vh;
    width: 200vw;
    position: absolute;
    margin-bottom: -22vh;
}

#layer1 {
    background-image: url("/assets/ocean/wave_1.png");
    z-index: 20;
}

#layer2 {
    background-image: url("/assets/ocean/wave_2.png");
    z-index: 18;
}

#layer3 {
    background-image: url("/assets/ocean/wave_3.png");
    z-index: 16;
}

#layer4 {
    background-image: url("/assets/ocean/wave_4.png");
    z-index: 14;
}

#layer5 {
    background-image: url("/assets/ocean/wave_5.png");
    z-index: 12;
}

#layer6 {
    background-image: url("/assets/ocean/wave_6.png");
    z-index: 10;
}

#layer7 {
    background-image: url("/assets/ocean/wave_back.png");
    z-index: 8;
}

/*TODO: Add rock/character images to items*/
.items {
    position: relative;
    width: 150px;
    height: 150px;
}

#rock1 {
    background-color: rgba(255, 255, 255, 0.491);
    z-index: 15;
}

#rock2 {
    background-color: rgba(255, 255, 255, 0.491);
    z-index: 11;
}

#rock3 {
    background-color: rgba(255, 255, 255, 0.491);
    z-index: 9;
}